@use "../../assets/scss/variables_mixins.scss" as *;

.technological-watch {
    background-color: $secondary-background-color;

    &__wrapper {
        position: relative;
        @include flex-column-center;
    }

    &__card {
        @include flex-column;
        height: 250px;
        border: 2px solid $tag-border-color;
        border-radius: 25px;
        position: relative;
        animation: slideFade 1000ms ease-in-out;

        &:hover {
            border-color: $card-hover-color;
        }

        &--image {
            @include box-size(100%, 100%);
            object-fit: cover;
            border-radius: 23px;
        }

        &--title {
            position: absolute;
            bottom: 100px;
            font-size: 16px;
            color: #0f172a;
            padding: 2px;
            border-radius: 5px;
            text-align: center;
        }

        &--description {
            position: absolute;
            font-size: 12px;
            bottom: 50px;
            color: #1f2937;
            text-align: justify;
            padding-left: 5px;
            padding-right: 5px;
        }

        &--date {
            position: absolute;
            font-size: 11px;
            bottom: 30px;
            right: 20px;
            padding-left: 5px;
        }
    }

    &__bullets {
        @include flex-center(15px);
        position: absolute;
        bottom: 10px;
        left: 120px;

        button {
            @include box-size(15px, 15px);
            border: 2px solid $tag-border-color;
            border-radius: 50%;
            background-color: #ffffff;
            cursor: pointer;
        }

        & .isActive {
            background-color: $bullets-color;
            border: 1px solid $bullets-color;
            box-shadow: 0 0 6px rgba(30, 58, 138, 0.4);
        }
    }

    h3 {
        margin-bottom: 5px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@keyframes slideFade {
    from {
        opacity: 0;
        transform: translateY(6px) scale(0.99);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}
