@use "../../../assets/scss/variables_mixins.scss" as *;

.hard-skills__items {
    @include flex-align-center(30px);
    margin-bottom: 15px;

    &--logo {
        @include box-size(55px, 40px);
        @include flex-center;

        img {
            height: 100%;
            object-fit: contain;
        }
    }

    &--rating {
        @include flex-align-center(5px);
        :global(.fa-solid.fa-star) {
            color: lightblue;
            font-size: 20px;
        }

        :global(.fa-solid.fa-star).active {
            color: #60a5fa;
        }
    }
}
