// Variables //

$main-background-color: #f9fafb;
$secondary-background-color: #eff6ff;
$main-text-color: #1f2937;
$primary-color: #2563eb;
$secondary-text-color: #4b5563;
$secondary-color: #000000;
$card-border-color: #bfdbfe;
$card-hover-color: #ea580c;
$cta-background-color: #1d4ed8;
$cta-hover-background-color: #1e40af;
$fa-star-active-color: #60a5fa;
$tag-background-color: #dbeafe;
$tag-text-color: #1e3a8a;
$tag-border-color: #bfdbfe;
$bullets-color: #1e3a8a;

$min-width-mobile-card-adjustment: 550px;
$min-width-tablet-card-adjustment: 860px;
$min-width-tablet: 767.98px;
$min-width-desktop: 1024.02px;

$banner-container-radius: 25px;

$transform-skills-duration: 1000ms;
$animation-soft-skills-delay: $transform-skills-duration;

// Mixins //

@mixin box-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin text-font($weight, $size) {
    font-weight: $weight;
    font-size: $size;
}

@mixin flex($gap: 0) {
    display: flex;
    gap: $gap;
}

@mixin flex-column($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-column-center($gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin flex-center($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
    justify-content: center;
}

@mixin flex-align-center($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin flex-space-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-align-center($gap: 0) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

@mixin reset-button-style {
    padding: unset;
    background: unset;
    border: none;
    cursor: pointer;
}

@mixin transform-skills {
    transform-origin: top;
    transform: scaleY(0);
}
