// Variables //

$main-background-color: #f9fafb;
$secondary-background-color: #eff6ff;
$main-text-color: #1f2937;
$primary-color: #2563eb;
$secondary-text-color: #4b5563;
$secondary-color: #000000;
$card-background-color: #f6f6f6;
$cta-background-color: #1d4ed8;
$cta-hover-background-color: #1e40af;

$mobile-media-querie: 1024px;
$min-width-desktop: 1024px;
$card-title-adaptation: 1230px;

$banner-container-radius: 25px;

// Mixins //

@mixin box-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin text-font($weight, $size) {
    font-weight: $weight;
    font-size: $size;
}

@mixin flex($gap: 0) {
    display: flex;
    gap: $gap;
}

@mixin flex-column($gap: 0) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin flex-column-center($gap: 0) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-align-center($gap: 0) {
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin flex-space-between-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-column-align-center($gap: 0) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap;
}

@mixin reset-button-style {
    padding: unset;
    background: unset;
    border: none;
    cursor: pointer;
}
