@use "../../assets/scss/variables_mixins.scss" as *;

.hero {
    @include flex-column(10px);

    h1,
    p {
        text-align: center;
    }

    &__description {
        color: $secondary-text-color;
        margin: 0;
    }

    &__wrapper {
        @include flex-column(10px);

        @media (min-width: $min-width-desktop) {
            flex-direction: row;
            justify-content: center;
            gap: 60px;
        }
    }

    &__photo {
        content: url("../../assets/images/compressed/photo_kh_portrait_mobile.webp");
        height: 300px;
        margin: 10px auto;
        border-radius: 4%;
        object-fit: cover;
        box-shadow:
            0 10px 25px rgba(0, 0, 0, 0.12),
            0 8px 20px rgba(37, 99, 235, 0.28);

        @media (min-width: $min-width-tablet) {
            content: url("../../assets/images/compressed/photo_kh_paysage.webp");
            height: 400px;
            object-fit: contain;
        }

        @media (min-width: $min-width-desktop) {
            margin: 10px 0;
            width: unset;
        }
    }

    &__cta {
        @include flex-column-align-center(10px);
        margin-top: 10px;

        @media (min-width: $min-width-tablet) {
            flex-direction: row;
            justify-content: center;
        }

        @media (min-width: $min-width-desktop) {
            flex-direction: column;
            gap: 30px;
        }

        a {
            @include box-size(65%, 30px);
            @include flex-align-center(10px);
            background-color: $cta-background-color;
            color: #ffffff;
            border: 2px solid $cta-background-color;
            border-radius: 20px;
            font-size: 14px;
            cursor: pointer;

            @media (min-width: $min-width-tablet) {
                width: 28%;
                font-size: 15px;

                @media (min-width: $min-width-desktop) {
                    @include box-size(100%, 40px);
                    padding-right: 5px;
                }
            }

            @media (min-width: $min-width-desktop) {
                font-size: 16px;
            }

            &:hover {
                background-color: $cta-hover-background-color;
            }

            :global(.fa-solid) {
                margin-left: 20px;
            }
        }
    }
}
