@use "../../assets/scss/variables_mixins.scss" as *;

.hero {
    @include flex-column(10px);
    padding: 20px;

    &__description {
        color: $secondary-text-color;
        margin: 0;
    }

    &__photo {
        @include box-size(70%, 70%);
        margin: 10px auto;
        border-radius: 50%;
    }

    &__cta {
        @include flex-column-align-center(10px);
        margin-top: 10px;

        a {
            @include box-size(60%, 30px);
            @include flex-align-center(10px);
            background-color: $cta-background-color;
            color: #ffffff;
            border: 2px solid $cta-background-color;
            border-radius: 20px;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                background-color: #1e40af;
            }

            :global(.fa-solid) {
                margin-left: 20px;
            }
        }
    }
}
