@use "../../../assets/scss/variables_mixins.scss" as *;

.hobbies__item {
    @include flex-align-center(10px);
    align-items: baseline;
    color: $primary-color;
    font-size: 18px;

    @media (min-width: $min-width-tablet) {
        justify-content: center;
    }

    &--description {
        @include text-font(700, 16px);
        margin-bottom: 5px;

        @media (min-width: $min-width-tablet) {
            font-size: 17px;
        }

        @media (min-width: $min-width-desktop) {
            font-size: 18px;
        }
    }

    &--comment {
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;

        @media (min-width: $min-width-tablet) {
            font-size: 15px;
            text-align: center;
        }

        @media (min-width: $min-width-desktop) {
            font-size: 16px;
        }
    }
}
