@use "../../../assets/scss/variables_mixins.scss" as *;

.hobbies__item {
    @include flex-align-center(10px);
    align-items: baseline;
    color: $primary-color;
    font-size: 18px;

    &--description {
        @include text-font(700, 16px);
        margin-bottom: 5px;
    }

    &--comment {
        text-align: justify;
        font-size: 14px;
        font-style: italic;
        margin-top: 5px;
    }
}
