@use "../../assets/scss/variables_mixins.scss" as *;

.cards {
    @include flex-column-align-center;

    &__title {
        color: $main-text-color;
        margin: 10px auto 5px;
    }

    &__description {
        text-align: center;
        margin: 0 auto 5px;
        font-size: 14px;
    }

    & a {
        @include flex-column-align-center;
        border: 2px solid $card-border-color;
        border-radius: 25px;
        background: linear-gradient(135deg, #ffffff 0%, #eaf2ff 100%);
        margin-bottom: 20px;
        width: 100%;

        &:hover {
            border-color: $card-hover-color;
        }
    }
}

.card {
    width: 100%;

    &__title {
        color: $main-text-color;
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    &__cover {
        @include box-size(100%, 200px);
        object-fit: cover;
        border-radius: 23px;
    }

    &__tags {
        @include flex-center(5px);
        flex-wrap: wrap;
        margin: 5px auto;

        &--tag {
            color: $tag-text-color;
            background-color: $tag-background-color;
            margin: 0;
            font-size: 12px;
            padding: 4px 10px;
            border-radius: 999px;
            border: 1px solid $tag-border-color;
        }
    }
}
