@use "../../assets/scss/variables_mixins.scss" as *;

.cards {
    @include flex-column;

    @media (min-width: $min-width-desktop) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    &__item {
        @media (min-width: $min-width-desktop) {
            width: calc(50% - 50px);
        }
    }

    &__title {
        color: $main-text-color;
        margin: 10px auto 5px;
        text-align: center;
    }

    &__description {
        text-align: center;
        margin: 0 auto 5px;
        font-size: 14px;

        @media (min-width: $min-width-tablet) {
            font-size: 15px;
        }

        @media (min-width: $min-width-desktop) {
            font-size: 16px;
            height: 44px;
        }
    }

    & a {
        @include flex-column-align-center;
        border: 2px solid $card-border-color;
        border-radius: 25px;
        background: linear-gradient(135deg, #ffffff 0%, #eaf2ff 100%);
        margin-bottom: 20px;
        width: 100%;

        @media (min-width: $min-width-desktop) {
            margin-bottom: 0;
        }

        &:hover {
            border-color: $card-hover-color;
        }
    }
}

.card {
    width: 100%;

    &__cover {
        @include box-size(100%, 200px);
        object-fit: cover;
        border-radius: 23px;
    }

    &__tags {
        @include flex-center(5px);
        flex-wrap: wrap;
        margin: 5px auto;
        height: 60px;

        &--tag {
            color: $tag-text-color;
            background-color: $tag-background-color;
            margin: 0;
            font-size: 12px;
            padding: 4px 10px;
            border-radius: 999px;
            border: 1px solid $tag-border-color;

            @media (min-width: $min-width-tablet) {
                font-size: 13px;
            }

            @media (min-width: $min-width-desktop) {
                font-size: 14px;
            }
        }
    }
}
