@use "../../assets/scss/variables_mixins.scss" as *;

footer {
    @include flex-center;
    font-size: 12px;
    background-color: #0f172a;

    p {
        color: #ffffff;
        font-size: 12px;
    }
}
