@use "../../assets/scss/variables_mixins.scss" as *;

.a_propos {
    background-color: $secondary-background-color;
    margin-bottom: 0;

    p {
        text-align: justify;
        position: relative;
        margin-top: 40px;

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translateX(-50%);
            width: 28px;
            border-bottom: 5px dotted $secondary-text-color;
        }

        &:last-child::after {
            display: none;
        }
    }
}
