@use "../../assets/scss/variables_mixins.scss" as *;

.project-page {
    .context,
    .goals,
    .stack,
    .skills,
    .results,
    .improvments {
        @media (min-width: $min-width-tablet) {
            @include flex-column-align-center;
        }
    }
    h2 {
        @media (min-width: $min-width-tablet) {
            margin-bottom: 40px;
        }
    }
}

.hero {
    @include flex-column-align-center(10px);

    p {
        margin: 0;
        text-align: center;
    }

    img {
        @include box-size(100%, 300px);
        object-fit: cover;
    }

    &__cta {
        @include flex-center(20px);
        width: 100%;

        a {
            @include box-size(100%, 30px);
            @include flex-center(10px);
            background-color: $cta-background-color;
            color: #ffffff;
            border: 2px solid $cta-background-color;
            border-radius: 20px;
            font-size: 14px;
            cursor: pointer;

            @media (min-width: $min-width-tablet) {
                font-size: 15px;
            }

            @media (min-width: $min-width-desktop) {
                font-size: 16px;
            }

            &:hover {
                background-color: $cta-hover-background-color;
            }
        }
    }
}

p {
    white-space: pre-line;
}

.context,
.stack,
.results {
    background-color: $secondary-background-color;
}

.list-section {
    @include flex-column(10px);
    margin-top: 16px;
    margin-bottom: 16px;

    li {
        position: relative;
        color: $secondary-text-color;
        padding-left: 25px;
        font-size: 16px;

        @media (min-width: $min-width-tablet) {
            font-size: 17px;
        }

        @media (min-width: $min-width-desktop) {
            font-size: 18px;
        }

        &::before {
            content: "\f140";
            font-family: "Font Awesome 6 Free";
            @include text-font(900, 14px);
            position: absolute;
            top: 3px;
            left: 0;
            color: #1e3a8a;

            @media (min-width: $min-width-tablet) {
                font-size: 15px;
            }

            @media (min-width: $min-width-desktop) {
                font-size: 16px;
            }
        }
    }
}

.stack {
    .list-section {
        width: 60%;

        @media (min-width: $min-width-tablet) {
            margin: auto;
            margin-bottom: 20px;
        }
    }
    li {
        color: $tag-text-color;
        background-color: $tag-background-color;
        margin: 0;
        padding: 4px 10px;
        border-radius: 999px;
        border: 1px solid $tag-border-color;
        font-size: 16px;
        text-align: center;

        @media (min-width: $min-width-tablet) {
            font-size: 17px;
        }

        @media (min-width: $min-width-desktop) {
            font-size: 18px;
        }

        &::before {
            display: none;
        }
    }
}

.skills {
    li::before {
        content: "\f013";
    }
}

.results {
    li::before {
        content: "\f00c";
    }
}

.improvments {
    li::before {
        content: "\f0ad";
    }
}
