@use "./assets/scss/variables_mixins.scss" as *;

:root {
    font-family: "Inter";
    font-weight: 500;
    color: $main-text-color;
    background-color: $main-background-color;
}

body {
    margin: 0;
}

main {
    padding-top: 80px;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    scroll-margin-top: 80px;
}

h1 {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;

    @media (min-width: $min-width-tablet) {
        font-size: 28px;
    }

    @media (min-width: $min-width-desktop) {
        font-size: 34px;
    }
}

h2 {
    display: inline-block;
    position: relative;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 22px;

    @media (min-width: $min-width-tablet) {
        display: block;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
    }

    @media (min-width: $min-width-desktop) {
        font-size: 28px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        @include box-size(100%, 2px);
        background-color: $main-text-color;

        @media (min-width: $min-width-tablet) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

h3 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;

    @media (min-width: $min-width-tablet) {
        font-size: 21px;
    }

    @media (min-width: $min-width-desktop) {
        font-size: 24px;
    }
}

p {
    color: $secondary-text-color;
    font-size: 16px;

    @media (min-width: $min-width-tablet) {
        font-size: 17px;
    }

    @media (min-width: $min-width-desktop) {
        font-size: 18px;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
