@use "./assets/scss/variables_mixins.scss" as *;

:root {
    font-family: "Inter";
    font-weight: 500;
    color: $main-text-color;
    background-color: $main-background-color;
}

body {
    margin: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

h2 {
    font-family: "Poppins";
    font-size: 20px;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 22px;

    &::after {
        content: "";
        display: block;
        @include box-size(30%, 2px);
        background-color: $main-text-color;
        margin-top: 6px;
    }
}

p {
    color: $secondary-text-color;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
