@use "./assets/scss/variables_mixins.scss" as *;

:root {
    font-family: "Inter";
    font-weight: 500;
    color: $main-text-color;
    background-color: $main-background-color;
}

body {
    margin: 0;
}

section {
    padding: 20px;
    margin-bottom: 20px;
}

h1 {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

h2 {
    display: inline-block;
    position: relative;
    font-family: "Poppins";
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: 22px;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 2px;
        background-color: $main-text-color;
    }
}

h3 {
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
}

p {
    color: $secondary-text-color;
    font-size: 16px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
