@use "./assets/scss/variables_mixins.scss" as *;

:root {
    font-family: "Inter";
    font-weight: 500;
    color: $main-text-color;
    background-color: $main-background-color;
}

body {
    margin: 0;
}

h1 {
    font-family: "Poppins";
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    color: $main-text-color;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
